<table>
    {{#eachInMap items}}
        {{#if value}}
        <tr>
            <td class="icon img-{{key}}" title="{{key}}">{{key}}</td>
            <td>{{value}}</td>
        </tr>
        {{/if}}
    {{/eachInMap}}
</table>