<table>
    {{#eachInMap items}}
        {{#if value}}
        <tr>
            <td title="{{key}}">{{translateKey key}}</td>
            <td class="cnt">{{value}}</td>
        </tr>
        {{/if}}
    {{/eachInMap}}
</table>