<table>
    {{#eachInMap items}}
        {{#if value}}
            <tr>
                <td title="{{key}}" class="label-container">{{translateKey key}}</td>
                <td class="cnt count-container">{{value}}</td>
            </tr>
        {{/if}}
    {{/eachInMap}}
</table>