.icon{
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
}

.img-RESONATOR-1{
    background-image: url('/img/ico/Resonator_L1.png');
}

.img-RESONATOR-2{
    background-image: url('/img/ico/Resonator_L2.png');
}

.img-RESONATOR-3{
    background-image: url('/img/ico/Resonator_L3.png');
}

.img-RESONATOR-4{
    background-image: url('/img/ico/Resonator_L4.png');
}

.img-RESONATOR-5{
    background-image: url('/img/ico/Resonator_L5.png');
}

.img-RESONATOR-6{
    background-image: url('/img/ico/Resonator_L6.png');
}

.img-RESONATOR-7{
    background-image: url('/img/ico/Resonator_L7.png');
}

.img-RESONATOR-8{
    background-image: url('/img/ico/Resonator_L8.png');
}

.img-EMP_BURSTER-1{
    background-image: url('/img/ico/XMP_Burster_L1.png');
}

.img-EMP_BURSTER-2{
    background-image: url('/img/ico/XMP_Burster_L2.png');
}
.img-EMP_BURSTER-3{
    background-image: url('/img/ico/XMP_Burster_L3.png');
}
.img-EMP_BURSTER-4{
    background-image: url('/img/ico/XMP_Burster_L4.png');
}
.img-EMP_BURSTER-5{
    background-image: url('/img/ico/XMP_Burster_L5.png');
}
.img-EMP_BURSTER-6{
    background-image: url('/img/ico/XMP_Burster_L6.png');
}
.img-EMP_BURSTER-7{
    background-image: url('/img/ico/XMP_Burster_L7.png');
}
.img-EMP_BURSTER-8{
    background-image: url('/img/ico/XMP_Burster_L8.png');
}

.img-ULTRA_STRIKE-1{
    background-image: url('/img/ico/Ultra_Strike_L1.png');
}

.img-ULTRA_STRIKE-2{
    background-image: url('/img/ico/Ultra_Strike_L2.png');
}

.img-ULTRA_STRIKE-3{
    background-image: url('/img/ico/Ultra_Strike_L3.png');
}

.img-ULTRA_STRIKE-4{
    background-image: url('/img/ico/Ultra_Strike_L4.png');
}

.img-ULTRA_STRIKE-5{
    background-image: url('/img/ico/Ultra_Strike_L5.png');
}

.img-ULTRA_STRIKE-6{
    background-image: url('/img/ico/Ultra_Strike_L6.png');
}

.img-ULTRA_STRIKE-7{
    background-image: url('/img/ico/Ultra_Strike_L7.png');
}

.img-ULTRA_STRIKE-8{
    background-image: url('/img/ico/Ultra_Strike_L8.png');
}

.img-JARVIS-0{
    background-image: url('/img/ico/JARVIS_Virus.png');
}

.img-ADA-0{
    background-image: url('/img/ico/ADA_Refactor.png');
}